.ipynb_checkpoints/
Ressources
data_description_for_openfoodfacts.txt
en.openfoodfacts.org.products.csv
openfoodfacts_clean_final.csv
openfoodfacts_clean1.csv
PSanté_Senechal_Yannick.zip
PSanté_Senechal_Yannick_update.zip


